# ! change name ".env-example" to ".env"

SECRET_JWT='changethis'
SECRET_MANAGER='changethis'

# Environment
PROJECT_NAME=Betarget

# Backend
BACKEND_CORS_ORIGINS=["http://localhost", "http://localhost:8000", "http://127.0.0.1:8000", "https://localhost", "https://localhost:8000", "https://127.0.0.1:8000"]

# Postgres
DB_HOST=localhost
DB_PORT=5432
DB_NAME=betarget
DB_USER=postgres
DB_PASS=postgres

# Tests
DB_TEST_HOST=localhost
DB_TEST_PORT=5432
DB_TEST_NAME=test_betarget
DB_TEST_USER=postgres
DB_TEST_PASS=postgres

# Postgres docker
POSTGRES_DB=betarget
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
