<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.tailwindcss.com"></script>
        {% block head %}{% endblock %}
    <title>Retarget</title>
</head>
<body>
    <nav class="flex justify-between text-3xl my-3">
        <ul class="flex ml-10">
           <li>Retarget</li>
        </ul>
        <ul class="flex gap-5 mr-10">
            <li>Sign in</li>
            <li>Sign up</li>
        </ul>
    </nav>
    <hr>
    <div id="content">{% block content %}{% endblock %}</div>
</body>
</html>