{% extends "base.html" %}

{% block head %}
<script>
    const searchForResume = () => {
        const searchInputValue = document.getElementById("resume_search").value;
        window.location.href = 'src/pages/search/${searchInputValue}';
    }
</script>
{% endblock %}

{% block content %}
<div class="flex justify-center flex-col items-center">
    <div>
        <input id="resume_search" type="text" placeholder="Candidate sex" class="text-xl">
        <button onclick="searchForResume()" class="border-2 rounded-3xl bd-gray-300 p-3">Find by cantidate sex</button>
    </div>
    <span>Поиск по формату работы</span>
    {% for res in resume %}
        <div class="flex rounded-3 border-2 p-3 mt-5">
            <div class="flex flex-col">
                <span class="text-2xl font-bold">{{ res["job_title"] }}</span>
                <span class="text-lg">{{ res.age }}</span>
                <span class="text-lg">{{ res.sex }}</span>
                <span class="text-lg">{{ res.birth_date }}</span>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}

