<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title></title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="../static/css/main.css" />
  </head>
  <body>
    <div class="body__margin-top"></div>
    <div class="wrapper">
      <section class="vacancies">
        <div class="vacancies__header">Вакансии</div>
        <div class="vacancies__list"></div>
        <a href="" class="vacancies__new-vacancy">
          <p>Новая вакансия</p>
          <svg
            viewBox="0 0 30 30"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M29.6638 14.7641C29.6638 22.9165 23.0649 29.4942 14.9464 29.4942C6.82781 29.4942 0.262695 22.9165 0.262695 14.7641C0.262695 6.62857 6.82781 0.0126953 14.9464 0.0126953C23.0649 0.0126953 29.6638 6.62857 29.6638 14.7641Z"
            />
            <path
              d="M8.59712 13.9385H21.2956C21.7576 13.9385 22.1212 14.2982 22.1212 14.7639C22.1212 15.2427 21.7575 15.6063 21.2956 15.6063H8.59712C8.13635 15.6063 7.77173 15.2426 7.77173 14.7639C7.77173 14.2984 8.13518 13.9385 8.59712 13.9385Z"
              fill="white"
            />
            <path
              d="M15.7719 8.41467V21.13C15.7719 21.5919 15.4082 21.9555 14.9462 21.9555C14.4843 21.9555 14.1208 21.5919 14.1208 21.13V8.41467C14.1208 7.94911 14.4843 7.58911 14.9462 7.58911C15.407 7.58911 15.7719 7.94896 15.7719 8.41467Z"
              fill="white"
            />
          </svg>
        </a>
      </section>
      <section class="filters">
        <div class="filters__list">
          <a href="#" class="filters__filter">Все резюме</a>
          <a href="#" class="filters__filter filters__filter_active"
            >В работе</a
          >
          <a href="#" class="filters__filter">Оффер</a>
          <a href="#" class="filters__filter">Выход на работу</a>
          <a href="#" class="filters__filter">Отказ</a>
        </div>
        <a href="" class="filters__new-resume">
          <p>Новое резюме</p>
          <svg
            viewBox="0 0 30 30"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M29.6638 14.7641C29.6638 22.9165 23.0649 29.4942 14.9464 29.4942C6.82781 29.4942 0.262695 22.9165 0.262695 14.7641C0.262695 6.62857 6.82781 0.0126953 14.9464 0.0126953C23.0649 0.0126953 29.6638 6.62857 29.6638 14.7641Z"
            />
            <path
              d="M8.59712 13.9385H21.2956C21.7576 13.9385 22.1212 14.2982 22.1212 14.7639C22.1212 15.2427 21.7575 15.6063 21.2956 15.6063H8.59712C8.13635 15.6063 7.77173 15.2426 7.77173 14.7639C7.77173 14.2984 8.13518 13.9385 8.59712 13.9385Z"
              fill="white"
            />
            <path
              d="M15.7719 8.41467V21.13C15.7719 21.5919 15.4082 21.9555 14.9462 21.9555C14.4843 21.9555 14.1208 21.5919 14.1208 21.13V8.41467C14.1208 7.94911 14.4843 7.58911 14.9462 7.58911C15.407 7.58911 15.7719 7.94896 15.7719 8.41467Z"
              fill="white"
            />
          </svg>
        </a>
      </section>
      <section class="resume-list"></section>
      <div class="resume">
        <section class="resume-display">
          <div class="resume-display__actions">
            <div class="resume-display__stage">
              <p class="resume-display__current-stage" data-stage=""></p>
              <button class="resume-display__change-stage">Сменить этап</button>
              <!-- <p>Выберите этап</p> -->
              <select class="resume-display__stage-input">
                <option value="in_work">В работе</option>
                <option value="screening">Скрининг</option>
                <option value="interview">Интервью</option>
                <option value="offer">Оффер</option>
                <option value="rejected">Отказ</option>
              </select>
              <div class="resume-display__stage-actions">
                <button class="resume-display__save-stage" disabled>
                  Сохранить
                </button>
                <button class="resume-display__cancel-stage">Отмена</button>
              </div>
            </div>
            <div class="resume-display__history"></div>
          </div>
          <div class="resume-content">
            <div class="resume-content__skills">
              <h3>Ключевые навыки</h3>
              <ul class="resume-content__skills-list">
                <li>Python</li>
                <li>Django</li>
                <li>Flask</li>
                <li>SQL</li>
                <li>NoSQL</li>
                <li>RESTful API</li>
                <li>Тестирование кода</li>
                <li>Оптимизация производительности</li>
              </ul>
            </div>
            <div class="resume-content__experience">
              <h3>Опыт работы</h3>
              <p>
                Я работал в качестве Python-разработчика в компании XYZ с 2018
                года. В мои обязанности входило разработка и поддержка
                веб-приложений на основе фреймворка Django, создание и
                оптимизация баз данных, а также взаимодействие с другими членами
                команды разработки для достижения поставленных целей проекта.
              </p>
            </div>
            <div class="resume-content__education">
              <h3>Образование</h3>
              <p>
                Я получил степень бакалавра в области компьютерных наук в
                университете ABC. Во время учебы я изучал различные аспекты
                программирования, алгоритмы и структуры данных. Моя
                специализация была связана с разработкой программного
                обеспечения, и я активно участвовал в проектах, где
                использовался язык Python.
              </p>
            </div>
            <div class="resume-content__about">
              <h3>О себе</h3>
              <p>
                Python-разработчик с фокусом на веб-разработке. Имею глубокие
                знания языка Python, фреймворков Django и Flask, а также опыт
                работы с базами данных SQL и NoSQL. Мои навыки также включают
                разработку RESTful API, тестирование кода и оптимизацию
                производительности.
              </p>
            </div>
          </div>
        </section>
        <section class="resume-info">
          <div class="resume-info__score">
            <!-- <input
              type="number"
              step="0.1"
              min="0"
              max="10"
              class="resume-info__score-input"
            /> -->
          </div>
          <div class="resume__info-container">
            <div class="resume-info__photo-container">
              <div class="resume-info__photo-wrapper">
                <img
                  src="../static/img/default_profile_photo.jpg"
                  class="resume-info__photo"
                />
              </div>
            </div>
            <div class="resume-info__name">Александр Ильин</div>
            <div class="resume-info__position">Unity Gamedev</div>
            <div class="resume-info__list">
              <li>
                <h6>Телефон</h6>
                <div class="resume-info__list-component">
                  <a
                    href="tel:+89036251683"
                    type="tel"
                    class="resume-info__phone"
                  ></a>
                </div>
              </li>
              <li>
                <h6>Email</h6>
                <div class="resume-info__list-component">
                  <a
                    href="mailto:sakutin@gmail.com"
                    type="email"
                    class="resume-info__email"
                  ></a>
                  <!-- <p class="resume-info__email"></p> -->
                </div>
              </li>
              <li>
                <h6>Город</h6>
                <div class="resume-info__list-component resume-info__city">
                  Москва
                </div>
              </li>
              <li>
                <h6>Желаемая ЗП</h6>
                <div class="resume-info__list-component resume-info__salary">
                  $2000
                </div>
              </li>
              <li>
                <h6>Возраст</h6>
                <div class="resume-info__list-component resume-info__age">
                  26
                </div>
              </li>
            </div>
            <div class="resume-info__contacts"></div>
          </div>
        </section>
        <div class="resume__not-chosen">Выберите резюме</div>
      </div>
    </div>
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script> -->
    <script type="module" src="../static/js/main.js"></script>
  </body>
</html>
