@function minmax($min, $max) {
  @return max($min, min($max, 100%));
}

// шрифты
$primary-font: "Inter", sans-serif;
$backup-font: "Open Sans", "Segoe UI", Tahoma, Helvetica, Verdana, sans-serif;

// размеры
$new-button-size: 30px;

// отступы

$padding-vacancies: 27px;

// ЦВЕТА
$color-light-background: #f6f7f8;
$color-medium-background: #eeeff2;
$color-dark-background: #dde0e5;
$color-secondary-font: #909aaa;
$color-rating-font: #768397;
$color-rating-font-darker: #939dac;
$color-button: #6f7c91;
$color-good-rating-font: #0dae4d;
$color-scroll-bar: #cdd1d8;