@function minmax($min, $max) {
  @return max($min, min($max, 100%));
}

// шрифты
$primary-font: "Inter", sans-serif;
$backup-font: "Open Sans", "Segoe UI", Tahoma, Helvetica, Verdana, sans-serif;

// размеры
$new-button-size: 30px;
$block-height: min(93vh, 800px);
$filters-height: max(60px, 5vh);

$resume-list-max-width: 350px;
$resume-display-max-width: 900px;
$resume-info-max-width: 350px;

// отступы
$wrapper-row-gap: 1.3%;
$wrapper-column-gap: 2%;
$padding-vacancies: 27px;

// ЦВЕТА
$color-light-background: #f6f7f8;
$color-medium-background: #eeeff2;
$color-dark-background: #dde0e5;
$color-secondary-font: #909aaa;
$color-rating-font: #768397;
$color-rating-font-darker: #939dac;
$color-button: #6f7c91;
$color-button-hover: #57657e;
$color-good-rating-font: #0dae4d;
$color-scroll-bar: #c7ccd5;
$color-scroll-bar-light: #dde0e5;
