@import "_variables";

// #region default_styles

/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  font-family: $primary-font, $backup-font;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  outline: none;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  overflow-x: hidden;

  text-rendering: optimizeSpeed;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

// #endregion

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-y: hidden;

  // height: 100vh;
  // padding-top: 1.7%;
}

.body__margin-top {
  height: 20px;
}

.wrapper {
  justify-content: center;
  box-sizing: border-box;
  height: 100vh;
  width: 96%;
  max-width: calc(2100px + 6%);
  // margin: 1.7% 2% 0 2%;
  display: grid;
  row-gap: $wrapper-row-gap;
  column-gap: $wrapper-column-gap;
  // grid-template-columns: 22% 25% 30% 20%;
  grid-template-columns: min(22%, 350px) min(25%, 350px) min(
      calc(96% - 22% - 25%),
      calc(1000px + 350px + 2%)
    );

  grid-template-rows: $filters-height auto;
}

// #region ВАКАНСИИ

.vacancies {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;

  padding: 23px 0 20px;
  border-radius: 27px;

  display: flex;
  flex-direction: column;

  background-color: $color-medium-background;
  height: $block-height;
}

.vacancies__header {
  font-size: 21px;
  margin-bottom: 20px;
  margin-left: $padding-vacancies;
}

.vacancies__list {
  flex: 1;
  overflow: auto;
}

/* Legacy browsers with `::-webkit-scrollbar-*` support */
@supports selector(::-webkit-scrollbar) {
  .vacancies__list::-webkit-scrollbar-thumb {
    background: $color-scroll-bar;
  }
  .vacancies__list::-webkit-scrollbar-track {
    background: $color-medium-background;
  }
  .vacancies__list::-webkit-scrollbar {
    width: 6px;
  }
}

/* Modern browsers with `scrollbar-*` support */
@supports (scrollbar-width: auto) {
  .vacancies__list {
    scrollbar-color: $color-scroll-bar $color-medium-background;
    scrollbar-width: thin;
  }
}

/* Legacy browsers with `-ms-` prefix (Internet Explorer)*/
@supports (-ms-ime-align: auto) {
  .vacancies__list {
    scrollbar-base-color: $color-scroll-bar;
    scrollbar-track-color: $color-medium-background;
    scrollbar-width: thin;
  }
}

.vacancies__vacancy {
  display: block;
  padding: 10px $padding-vacancies;
}
.vacancies__vacancy:hover {
  background-color: $color-dark-background;
}
.vacancies__vacancy_active {
  background-color: $color-dark-background;
}
.vacancies__title {
  font-size: 17px;
  margin-bottom: 3px;
}
.vacancies__subtitle {
  font-size: 12.7px;
  color: $color-secondary-font;
}

.vacancies__new-vacancy {
  align-self: flex-end;
  padding: 10px 20px 0;
  display: flex;
  gap: 7px;
  align-items: center;
}

.vacancies__new-vacancy:hover p {
  color: $color-button-hover;
}

.vacancies__new-vacancy:hover svg {
  fill: $color-button-hover;
}

.vacancies__new-vacancy p {
  color: $color-button;
  font-size: 17.33px;
}

.vacancies__new-vacancy svg {
  height: $new-button-size;
  width: $new-button-size;
  fill: $color-button;
}

// #endregion

// #region ФИЛЬТРЫ
.filters {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;

  display: flex;
  align-items: center;
  margin: 20px 0 30px;
}

.filters__list {
  flex: 1;
  display: flex;
  gap: 15px;
  align-items: center;
}

@media (min-width: 1600px) {
  .filters__list {
    gap: 30px;
  }
}
@media (max-width: 1150px) {
  .filters__list {
    gap: 15px;
  }
}
.filters__filter {
  display: block;
  font-size: 17px;
  padding: 7px 12px;
}
.filters__filter:hover {
  background-color: $color-button;
  color: #ffffff;
  border-radius: 17px;
}
.filters__filter_active {
  background-color: $color-button;
  color: #ffffff;
  border-radius: 17px;
}
.filters__new-resume {
  display: flex;
  gap: 7px;
  align-items: center;
}
.filters__new-resume p {
  color: $color-button;
  font-size: 17.33px;
}

.filters__new-resume svg {
  height: $new-button-size;
  width: $new-button-size;
  fill: $color-button;
}

.filters__new-resume:hover p {
  color: $color-button-hover;
}

.filters__new-resume:hover svg {
  fill: $color-button-hover;
}

// #endregion

// #region СПИСОК РЕЗЮМЕ
.resume-list {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;

  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  height: calc($block-height - $filters-height - $wrapper-row-gap);
  overflow: auto;
}

/* Legacy browsers with `::-webkit-scrollbar-*` support */
@supports selector(::-webkit-scrollbar) {
  .resume-list::-webkit-scrollbar-thumb {
    background: $color-scroll-bar;
  }
  .resume-list::-webkit-scrollbar-track {
    background: $color-medium-background;
  }
  .resume-list::-webkit-scrollbar {
    width: 6px;
  }
}

/* Modern browsers with `scrollbar-*` support */
@supports (scrollbar-width: auto) {
  .resume-list {
    scrollbar-color: $color-scroll-bar-light white;
    scrollbar-width: thin;
  }
}

/* Legacy browsers with `-ms-` prefix (Internet Explorer)*/
@supports (-ms-ime-align: auto) {
  .resume-list {
    scrollbar-base-color: $color-scroll-bar;
    scrollbar-track-color: $color-medium-background;
    scrollbar-width: thin;
  }
}

.resume-list__resume {
  display: flex;
  gap: 13px;
  align-items: center;
  justify-content: start;
  border-radius: 5px;
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
  background-color: white;
}

.resume-list__resume:hover {
  background-color: $color-medium-background;
}

.resume-list__resume.resume-list__resume_active {
  background-color: $color-medium-background;
}
.resume-list__photo-container {
  width: 68.5px;
  height: 68.5px;
  overflow: hidden;
  border-radius: 50%;
  background-color: $color-dark-background;
}

@media (max-width: 1150px) {
  .resume-list__photo-container {
    width: 6vw;
    height: 6vw;
  }
}

.resume-list__photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
.resume-list__info {
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.resume-list__name {
  font-size: 17px;
}
.resume-list__job-title {
  font-size: 12.7px;
  color: $color-secondary-font;
}
.resume-list__score {
  font-size: 10px;
  color: $color-secondary-font;
  font-weight: 500;
}
.resume-list__score-number {
  color: $color-button;
  font-size: 14px;
}

.resume-list__score-number_good {
  color: $color-good-rating-font;
}
// #endregion
// #region РЕЗЮМЕ
.resume {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;

  box-sizing: border-box;
  height: calc($block-height - $filters-height - $wrapper-row-gap);
  width: 100%;
  max-width: calc($resume-display-max-width + $resume-info-max-width + 4%);
  overflow-y: auto;
  padding-right: 10px;

  display: grid;
  grid-column-gap: 4%;
  grid-template-columns: min(63%, $resume-display-max-width) min(
      33%,
      $resume-info-max-width
    );

  position: relative;
}

/* Legacy browsers with `::-webkit-scrollbar-*` support */
@supports selector(::-webkit-scrollbar) {
  .resume::-webkit-scrollbar-thumb {
    background: $color-scroll-bar;
  }
  .resume::-webkit-scrollbar-track {
    background: $color-medium-background;
  }
  .resume::-webkit-scrollbar {
    width: 6px;
  }
}

/* Modern browsers with `scrollbar-*` support */
@supports (scrollbar-width: auto) {
  .resume {
    scrollbar-color: $color-scroll-bar-light white;
    scrollbar-width: thin;
  }
}

/* Legacy browsers with `-ms-` prefix (Internet Explorer)*/
@supports (-ms-ime-align: auto) {
  .resume {
    scrollbar-base-color: $color-scroll-bar;
    scrollbar-track-color: $color-medium-background;
    scrollbar-width: thin;
  }
}
//#endregion
// #region ОТОБРАЖЕНИЕ РЕЗЮМЕ
.resume-display {
  display: none;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}

.resume-display__actions {
  height: 200px;
  background-color: $color-light-background;
  border-radius: 25px;
  padding: 14px 15px 14px 20px;
}
.resume-display__stage {
  font-size: 17px;
  color: $color-button;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.resume-display__change-stage,
.resume-display__save-stage,
.resume-display__cancel-stage {
  background-color: $color-button;
  font-size: 12.7px;
  color: #ffffff;
  padding: 7px 10px;
  border-radius: 15px;
}

.resume-display__stage-input {
  display: none;
  font-size: 16px;
  border: 1px solid $color-input-border;
  border-radius: 10px;
  padding: 3px 6px;
  cursor: pointer;
  background-color: #fff;
}

.resume-display__stage-input:hover {
  border-color: $color-rating-font-darker;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.resume-display__stage-input:focus {
  outline: none;
}

.resume-display__stage-input option {
  line-height: 50px;
  border-color: #aaa;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  outline: none;
}

.resume-display__stage-actions {
  display: none;
}

.resume-display__save-stage[disabled] {
  cursor: not-allowed;
  pointer-events: none;
  opacity: 0.5;
  border-color: #ccc;
}

.resume-display__history {
  display: flex;
  flex-direction: column;
  gap: 13px;
  margin: 17px 0 5px;
  overflow-y: auto;
}

.resume-display__history-block {
  display: flex;
  justify-content: space-between;
  padding-right: 10px;
  color: $color-secondary-font;
}

/* Legacy browsers with `::-webkit-scrollbar-*` support */
@supports selector(::-webkit-scrollbar) {
  .resume-display__history::-webkit-scrollbar-thumb {
    background: $color-scroll-bar;
  }
  .resume-display__history::-webkit-scrollbar-track {
    background: $color-medium-background;
  }
  .resume-display__history::-webkit-scrollbar {
    width: 6px;
  }
}

/* Modern browsers with `scrollbar-*` support */
@supports (scrollbar-width: auto) {
  .resume-display__history {
    scrollbar-color: $color-scroll-bar-light $color-light-background;
    scrollbar-width: thin;
  }
}

/* Legacy browsers with `-ms-` prefix (Internet Explorer)*/
@supports (-ms-ime-align: auto) {
  .resume-display__history {
    scrollbar-base-color: $color-scroll-bar;
    scrollbar-track-color: $color-medium-background;
    scrollbar-width: thin;
  }
}

.resume-content {
  font-size: 15px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: 15px 0;
}
.resume-content h3 {
  font-size: 17px;
  margin-bottom: 8px;
  font-weight: 600;
}
.resume-content__skills {
}

.resume-content__skills-list li {
  display: inline-block;
  background-color: $color-medium-background;
  padding: 2px 8px;
  border-radius: 10px;
  margin: 4px 1.5px;
}
//#endregion

//#region РЕЗЮМЕ КОНТАКТЫ
.resume-info {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;

  background-color: $color-light-background;
  border-radius: 25px;
  padding: 3em 0 15px;

  // display: flex;
  flex-direction: column;
  align-items: center;

  position: relative;
  height: fit-content;
  overflow-x: hidden;

  display: none;
}

.resume-info__score {
  width: 100%;
  position: absolute;
  top: 2px;
  font-size: 21px;
  color: $color-rating-font-darker;
}

.resume-info__score-input {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 2em;
  border: 0px;
  border-bottom: 1px solid $color-button;
  color: $color-rating-font;
  font-size: 1.5em;
  text-align: start;
  transition: border-color 0.3s ease;
  background-color: inherit;
}

.resume-info__score-input:focus {
  outline: none;
  box-shadow: 0 4px 3px -3px $color-rating-font;
}

.resume__info-container {
  display: flex;
  flex-direction: column;
  align-items: start;
  height: fit-content;
  overflow-x: hidden;
  padding: 0 max(10%, 15px);
  width: 100%;
}

.resume-info__photo-container {
  align-self: center;
  box-sizing: border-box;
  width: 100%;
  height: min(35vh, 270px);
  border-radius: 25px;
  background-color: $color-dark-background;
  margin-bottom: 10px;
}

.resume-info__photo-wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: inherit;
}

.resume-info__photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.resume-info__name {
  font-size: 21px;
  margin-bottom: 5px;
}
.resume-info__position {
  font-size: 14px;
  color: $color-secondary-font;
  margin-bottom: 25px;
}

.resume-info__list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.resume-info__list li {
  display: block;
}
.resume-info__list li h6 {
  font-size: 12.7px;
  color: $color-secondary-font;
  font-weight: 400;
  margin: 0;
}

.resume-info__list-component {
  font-size: 15px;
}
.resume-info__contacts {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: end;
  gap: min(15px, 6%);
}

.resume-info__contacts-link svg {
  fill: $color-scroll-bar;
  width: 25px;
  height: 25px;
}
.resume-info__contacts-link:hover svg {
  fill: $color-secondary-font;
}

// #endregion

.resume__not-chosen {
  // display: none;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 18px;
  color: $color-button;
}
