@import "_variables";

// #region default_styles

/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  font-family: $primary-font, $backup-font;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  outline: none;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  overflow-x: hidden;

  text-rendering: optimizeSpeed;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

// #endregion

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wrapper {
  box-sizing: border-box;
  height: 100vh;
  width: 95%;
  margin: 1.7% 4% 0 2%;
  display: grid;
  row-gap: 1.3%;
  column-gap: 2%;
  grid-template-columns: 22% 25% 30% 20%;
  grid-template-rows: max(60px, 5vh) auto;
}

@media (min-width: 1800px) {
  .wrapper {
    grid-template-columns: 350px 400px calc(87vw - 1100px) 350px;
  }
}

// #region ВАКАНСИИ

.vacancies {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;

  padding: 23px 0 20px;
  border-radius: 27px;

  display: flex;
  flex-direction: column;

  background-color: $color-vacancies-background;
  height: min(93vh, 700px);
}

.vacancies__header {
  font-size: 21px;
  margin-bottom: 20px;
  margin-left: $padding-vacancies;
}
.vacancies__list {
  flex: 1;
}
.vacancies__vacancy {
  display: block;
  padding: 10px $padding-vacancies;
}
.vacancies__vacancy_active {
  background-color: $color-vacancies-active;
}
.vacancies__title {
  font-size: 17px;
  margin-bottom: 3px;
}
.vacancies__subtitle {
  font-size: 12.7px;
  color: $color-vacancies-subtitle-font;
}

.vacancies__new-vacancy {
  align-self: flex-end;
  padding: 0 20px;
  display: flex;
  gap: 7px;
  align-items: center;
}

.vacancies__new-vacancy p {
  color: $color-button;
  font-size: 17.33px;
}

.vacancies__new-vacancy svg {
  height: $new-button-size;
  width: $new-button-size;
}

// #endregion

// #region ФИЛЬТРЫ
.filters {
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 2;

  display: flex;
  align-items: center;
  margin: 20px 0 30px;
}

.filters__list {
  flex: 1;
  display: flex;
  gap: 30px;
  align-items: center;
}

@media (min-width: 1600px) {
  .filters__list {
    gap: 45px;
  }
}
@media (max-width: 1150px) {
  .filters__list {
    gap: 25px;
  }
}
.filters__filter {
  display: block;
  font-size: 17px;
}
.filters__filter_active {
  background-color: $color-button;
  color: #ffffff;
  padding: 7px 12px;
  border-radius: 17px;
}
.filters__new-resume {
  display: flex;
  gap: 7px;
  align-items: center;
}
.filters__new-resume p {
  color: $color-button;
  font-size: 17.33px;
}

.filters__new-resume svg {
  height: $new-button-size;
  width: $new-button-size;
}

// #endregion

// #region СПИСОК РЕЗЮМЕ
.resume-list {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;

  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: start;
  justify-content: start;
}

.resume-list__resume {
  display: flex;
  gap: 13px;
  align-items: center;
  justify-content: start;
  border-radius: 5px;
  // border-radius: 34px;
  width: 100%;
  padding: 5px 10px 5px 5px;
}

.resume-list__resume_active {
  background-color: $color-vacancies-background;
}
.resume-list__photo-container {
  width: 68.5px;
  height: 68.5px;
  overflow: hidden;
  border-radius: 50%;
  background-color: $color-vacancies-active;
}

@media (max-width: 1150px) {
  .resume-list__photo-container {
    width: 6vw;
    height: 6vw;
  }
}

.resume-list__photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
.resume-list__info {
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.resume-list__name {
  font-size: 17px;
}
.resume-list__position {
  font-size: 12.7px;
  color: $color-secondary-font;
}
.resume-list__score {
  font-size: 10px;
  color: $color-secondary-font;
  font-weight: 500;
}
.resume-list__score-number {
  color: $color-button;
  font-size: 14px;
}

.resume-list__score-number_good {
  color: $color-good-rating-font;
}
// #endregion

// #region ОТОБРАЖЕНИЕ РЕЗЮМЕ
.resume-display {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
}

.resume-actions {
  height: 200px;
  background-color: $color-history-background;
  border-radius: 8px;
  padding: 12px;
}
.resume-actions__status {
  font-size: 17px;
  color: $color-button;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.resume-actions__change-status {
  background-color: $color-button;
  font-size: 12.7px;
  color: #ffffff;
  padding: 7px 10px;
  border-radius: 15px;
}
.resume-actions__history {
}

.resume-content {
  font-size: 15px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: 15px 0;
}
.resume-content h3 {
  font-size: 17px;
  margin-bottom: 8px;
}
.resume-content__skills {
}

.resume-content__skills-list li {
  display: inline-block;
  background-color: $color-vacancies-background;
  padding: 2px 8px;
  border-radius: 10px;
  margin: 4px 1.5px;
}
//#endregion

//#region РЕЗЮМЕ КОНТАКТЫ
.resume-info {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 3;

  background-color: $color-history-background;
  border-radius: 25px;
  padding: 13% 13% 15px;

  display: flex;
  flex-direction: column;
  align-items: start;
  height: fit-content;
}

.resume-info__score {
}

.resume-info__photo-container {
  align-self: center;
  box-sizing: border-box;
  width: 14.5vw;
  height: 14.5vw;
  overflow: hidden;
  border-radius: 25px;
  background-color: $color-vacancies-active;
  margin-bottom: 10px;
}
@media (min-width: 1800px) {
  .resume-info__photo-container {
    width: 264.1px;
    height: 264.1px;
  }
}

.resume-info__photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.resume-info__name {
  font-size: 21px;
  margin-bottom: 5px;
}
.resume-info__position {
  font-size: 14px;
  color: $color-secondary-font;
  margin-bottom: 25px;
}

.resume-info__list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.resume-info__list li {
  display: block;
}
.resume-info__list li h6 {
  font-size: 12.7px;
  color: $color-secondary-font;
  font-weight: 400;
  margin: 0;
}

.resume-info__list-component {
  font-size: 15px;
}
.resume-info__phone {
}
.resume-info__email {
}
.resume-info__city {
}
.resume-info__salary {
}
.resume-info__age {
}
.resume-info__contacts {
}
