@function minmax($min, $max) {
  @return max($min, min($max, 100%));
}

// CV

// цвета

$color-button: #6f7c91;
$color-secondary-font: #a9b0bd;
$color-rating-font: #768397;
$color-good-rating-font: #0dae4d;
$color-picture-background: #ededed;
$color-picture-background-darker: #ebedef;
$color-history-background: #f6f7f8;

// шрифты
$primary-font: "Inter", sans-serif;
$backup-font: "Open Sans", "Segoe UI", Tahoma, Helvetica, Verdana, sans-serif;

// размеры
$new-button-size: 30px;

// VACANCIES

// цвета

$color-vacancies-background: #eeeff2;
$color-vacancies-active: #dde0e5;
$color-vacancies-subtitle-font: #b3bac5;

// отступы

$padding-vacancies: 27px;
