 /* The sidebar menu */
:root {
    --color-primary: #fff;
    --color-danger: #fff;
    --color-success: #fff;
    --color-warning: #fff;
    --color-white: #fff;
    --color-info-dark: #fff;
    --color-info-light: #fff;
    --color-info-light: #fff;
    --color-dark: #fff;
    --color-light: #fff;
    --color-primary-variant: #fff;
    --color-dark-variant: #fff;
    --color-background: #fff;

    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 0.8rem;
    --border-radius-3: 1.2rem;

    --card-padding: 1.8rem;
    --padding-1: 1.2rem;

    --box-shadow: 0 2rem 3rem var(--color-light);
}

* {
 margin: 0;
 padding: 0;
 outline: 0;
 appearance: none;
 text-decoration: none;
 list-style: none;
 box-sizing: border-box;
}

html {
     font-size: 14px;
}

body {
    width: 100vw;
    height: 100vh;
    font-family: Gordita, sans-serif;
    font-size: 0.88rem;
    background: var(--color-background);
    user-select: none;
    overflow: hidden;
}


/* ============= SIDENAV ============ */
.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 350px; /* Set the width of the sidebar */
    max-width: 350px;
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #00a887; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding: 20px 0px 0px 0px;
}

.sidenav a {
    padding: 10px 30px 10px 30px;
    text-decoration: none;
    font-size: 17px;
    font-weight: 500;
    color: #FFF;
    display: block;
    /* border: 1px solid black;*/
}

.sidenav a:hover {
    color: rgba(255, 255, 255, 0.8);
}

.sidenav a:focus {
    background-color: rgba(255, 255, 255, 0.2);
}



/* ============= CONTENT ============== */
.main {
    margin: 15px 15px 0px 350px; /* Same as the width of the sidebar */
    padding: 0px 10px;
}

/*@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}*/

.side-title {
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    padding: 6px 30px 6px 30px;
}

.side-hr {
    border: 1px solid white;
    opacity: 0.5;
    margin: 10px 30px 20px 30px;
}




/* ============= NAVIGATION ============== */
.main-navigation {

}

.main-navigation a {
    padding: 5px 15px 5px 15px;
    text-decoration: none;
    font-size: 17px;
    font-weight: 500;
    color: black;
    display: inline;
}

.main-navigation a:hover {
    color: #00a887;
}

.main-navigation a:focus {
    color: rgba(255,255,255,1);
    background-color: #00a887;
    border-radius: 100px;
}



/* ============= WRAPPER ==============*/
.wrapper {
    margin: 20px 15px 0px 15px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 10px;
}



/* ================= RESUMES ============ */
.main-resumes {
    border: 1px solid black;
    max-width: 300px;
}

.resume {
    border: 1px solid red;
    padding: 10px 0px;
    display: grid;
    grid-template-columns: 30% 70%;
}

.resume-img {
    width: 60px;
    height: 60px;
    margin: 0px 5px;
    border: 1px solid yellow;
}

.resume-info {
    margin: 0px 5px;
    border: 1px solid green;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.resume-name {
}

.resume-title {
    font-size: 14px;
    color: #888888;
    border: 1px solid green;
}


.resume-prep-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100%;
    border-radius: 80px;
    object-fit: cover;
}



/* STATUS */
.status {
    border: 1px solid black;
}



/* STATUS */
.card {
    border: 1px solid black;
}